p {
  line-height: 1.4;
}

#wrapper {
  padding: 1em;
}

.title {
  text-decoration: underline;
}

#np-info > li {
  margin-bottom: 0.25em;
  line-height: 1.4;
}

ul {
  list-style: none;
  padding-left: 0;
}

/*---- Media Queries ------*/

@media screen and (min-width: 550px) {
  #wrapper {
    width: 550px;
    margin: 0 auto;
  }

  p {
    text-align: justify;
  }
}
